.main {
    background-color: white;    
    margin: 0;
    padding: 0;   
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;   
}

.registration_form {
    width: 40%;    
    border-radius: 5px;
    padding: 5rem;
    background-color: #f2f4ef ;
    font-weight: bold;
    -webkit-box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.75);    
}

.radio-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.success-menu {
    width: 26rem;
    height: 26rem;
    padding: 3rem;
    background-color: #f2f4ef;
    border-radius: 5px;
    -webkit-box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.75);
}

#success-header {
    text-align: center;
    color: green;
}
